<h1>New Expense</h1>
<%= form_for @expense, local: true do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :Name %>
  <%= f.label :Amount %>
  <%= f.text_field :Amount %>
  <%= f.label :Category %>
  <%= f.select :category_ids, @categories.map { |c| [c.Name, c.id] } %>
  <%= f.submit %>
<% end %>

<% console %>