<div class="row">
  <%= form_for @expense, local: true do |f| %>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>  
              <span><%= link_to '', categories_path , class: 'fa fa-angle-left back-link mr-4' %> New Expense</span>
              <span class="smallackwoleadge"> 
                <i class="fa fa-save save_icon"></i> 
                <%= f.submit "Save", class: "btn btn-link smallackwoleadge" %>
              </span>
            </h1>
          </div>
        </div>
      </div>
    </header>
    <div class="login_form">
      <div class="mb-4">
        <%= f.text_field :Name, class: "form-control", placeholder: "Expense Name" %>
      </div>
      <div class="mb-4">
        <%= f.number_field :Amount, class: "form-control", placeholder: "Expense Amount", OnInput: "this.value = this.value.replace(/[^0-9.]/g, '')" %>
      </div>
      <div class="mb-4">
        <%= f.select :category_ids, @categories.map { |c| [c.Name, c.id] }, { include_hidden: false } , { multiple: true, class: "form-control selectpicker" } %>
      </div>
    </div>
  <% end %>
</div>